#rectangle{ 
width: 5000px;
height: 2000px;
background-color: white;
position: relative;
top: 320px;
left: 230px;
border-radius: 100px;
}
.pokemon{
    display: flex;
    padding: 0px 4000px ;
    top: 3000px;
    


}